.footer {
    background-color: black;
    padding-block-start: 18px;
    padding-inline-start: 104px;
    padding-inline-end: 70px;
}

.footer__content {
    height: 340px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.footer__text h3 {
    font-size: 48px;
    line-height: 56px;
    margin-block-end: 18px;
}

.footer__text p {
    max-width: 542px;
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
}

.footer__content img {
    max-width: unset;
}

.footer__image {
    align-self: center;
}