@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url(./header.css);
@import url(./nav.css);
@import url(./banner.css);
@import url(./button.css);
@import url(./cards.css);
@import url(./first-section.css);
@import url(./galery.css);
@import url(./form.css);
@import url(./qualification.css);
@import url(./footer.css);

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */
}

*, *::before , *::after {
    box-sizing: inherit;
}

body {  
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4 {
    line-height: 1.2;
    margin: 0;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.8rem;
}

p {
    margin: 0;
}

img {
    max-width: 100%;
}